*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{background: #000;}

.container{
	max-width: 960px;
	
	margin: 0 auto;
	background-color: #fff;
}
.masonry-container {
	display: flex;
	flex-wrap: wrap;
}

.item {
	width: 240px;
	height: 250px;
	
}
.item.wider{
	width: 480px;
}
.item img {
	height: inherit;
	width: inherit;
}
